<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>.::<%= @title + ' | Course Registration::.' %></title>
		<link href="/css/materialize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet" media="screen,projection" />
		
	</head>
	<body>
		<nav class="light-blue lighten-1" role="navigation">
    		 <div class="nav-wrapper container">
    		 	 <a id="logo-container" href="#" class="brand-logo">Logo</a>
      			 <ul class="right hide-on-med-and-down">
        		 	 <li><a href="#">Home</a></li>
        		 	 <li><a href="#">Dashboard</a></li>
        		 	 <li><a href="#">Available Courses</a></li>
        		 	 <li><a href="#">Contact us</a></li>
      			 </ul>

      			 <ul id="nav-mobile" class="side-nav">
        			 <li><a href="#">Home</a></li>
        		 	 <li><a href="#">Dashboard</a></li>
        		 	 <li><a href="#">Available Courses</a></li>
        		 	 <li><a href="#">Contact us</a></li>
      		 	 </ul>
      			 <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    		 </div>
  		</nav>

  		 <div class="section no-pad-bot" id="index-banner">
    	 	 <div class="container">
      	 	 <br><br>
      	 	 <h1 class="header center orange-text"><%= @pageHeading %></h1>
      	 	 <div class="row center">
        	 	 <h5 class="header col s12 light"><%= @intro %></h5>
      	 	 </div>
    	 </div>
  	 </div>

  	 <div class="container">
  	 	 <%= yield %>
  	 </div>
		
		<footer class="page-footer orange">
			<div class="container">
				<div class="row"> 
					<div class="col l6 s12">
          				 <h5 class="white-text">About the app</h5>
          				 <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        			 </div>
					 <div class="col l6 s12">
          				<h5 class="white-text">Quick Navigation</h5>
          				<ul>
            				<li><a class="white-text" href="#!">Home</a></li>
            				<li><a class="white-text" href="#!">Dashboard</a></li>
            				<li><a class="white-text" href="#!">Available Courses</a></li>
            				<li><a class="white-text" href="#!">Contact us</a></li>
          				</ul>
        			</div>
			 	</div>
			 </div>
			 <div class="footer-copyright">
				 <div class="container">
					 Made by <a href="https://plus.google.com/111722167670896324346/">Oscar</a> using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
				 </div>
			 </div>
		</footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
		<script type="text/javascript" src="/js/init.js"></script>
		<script src="/js/index.js" type="text/javascript"></script>
	 </body>
</html>