<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>.::<%= @title + ' | Course Registration::.' %></title>
		<link href="/css/materialize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet" media="screen,projection" />
		
	</head>
	<body>
		<%= yield %>
		<footer class="page-footer orange">
			<div class="container">
				<div class="row"
			</div>
			<div class="footer-copyright">
				<div class="container">
					Made by <a href="https://plus.google.com/111722167670896324346/">Oscar</a> using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
		<script type="text/javascript" src="/js/init.js"></script>
	 <body>
</html>