<h1>Entered here</h1>

<b>Edit course schedule</b>
<form class="col s12" action="/update" method="POST">
	<div class="row">
		 <i class="mdi-action-info-outline left"> </i>&nbsp;<i>Remove all course schedule to delete course</i>
		 <p>
		 	<input type="checkbox" id="test3" name="" />
		 	<label for="test3">Remove time schedule</label>
		 </p>
		 <p>
		 	<input type="checkbox" id="test4" name=""  />
		 	<label for="test4">Remove time schedule</label>
		 </p>
		 <p>
		 	<input type="checkbox" id="test5" name=""  />
		 	<label for="test5">Remove time schedule</label>
		 </p>
		 <div class="row">
      	 <button class="btn waves-effect waves-light" type="submit" name="action">Save
    	 <i class="mdi-content-save right"></i>
  		 </button>
	 </div>
</form>